modules/psaddonsconnect/vendor/doctrine/cache
modules/psaddonsconnect/vendor/guzzlehttp/cache-subscriber
modules/psaddonsconnect/vendor/guzzlehttp/guzzle
modules/psaddonsconnect/vendor/guzzlehttp/ringphp
modules/psaddonsconnect/vendor/guzzlehttp/streams
modules/psaddonsconnect/vendor/prestashop/circuit-breaker
modules/psaddonsconnect/vendor/react/promise

var/cache/

.env
config.php
*.log
/vendor/
/node_modules/
.DS_Store
/cache/
/tmp/
# Exclude large backup and download files

admin1157/autoupgrade/backup/*.zip
admin1157/ets_upgrade/backup/*.zip
admin1157/ets_upgrade/download/*.zip
